<div style="background-color: #f5f5f5;width: 100%; padding-left: 0 ;padding-top: 0px; padding-bottom: 0px;">
    <div style="background-color: #fff; width: 100%;  min-height: 500px;padding: 50px;-webkit-box-shadow: 5px 5px 15px 5px #DBDBDB;box-shadow: 5px 5px 15px 5px #DBDBDB;">
        <div style="padding-top: 0px; color:#111; font-size: 18px;font-family: Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;">
            <p>You have a new booking : </p>
            <div style="padding-top: 5px; color:#111; font-size: 15px;font-family: Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;text-align: justify;line-height: 25px;">
                <p>Name : <strong>$NAME$</strong> </p>
                <p>Email : <strong>$EMAIL$</strong> </p>
                <p>Phone : <strong>$PHONE$</strong> </p>
                <p>Appointment : <strong>$APPOINTMENT$</strong> </p>
                <p>Callback Date : <strong>$DATE$</strong> </p>
                <p>Callback Time : <strong>$TIME$</strong> </p>
                <br/>
                
                <p>You can see more details in the <strong>Admin Panel </strong>by following the link below : </p>
                <p>
                    <a href="https://londonmedicalclinic.co.uk/optimalvision/admin/login" style="box-shadow: 0px 1px 0px 0px #f0f7fa;background:linear-gradient(to bottom, #3cc9e8 5%, #00a1c5  100%);background-color:#3cc9e8;border-radius:6px;border:1px solid #3cc9e8;display:inline-block;cursor:pointer;color:#ffffff;font-family:Arial;font-size:15px;font-weight:bold;padding:6px 24px;text-decoration:none;text-shadow:0px -1px 0px #5b6178;" target="_blank">
                         Enter Admin Panel
                    </a>
                </p>

            </div>
        </div>
    </div>
</div>