<div style="background-color: #f5f5f5;width: 100%; padding-left: 0 ;padding-top: 0px; padding-bottom: 0px;">
    <div style="background-color: #fff; width: 100%;  min-height: 500px;padding: 50px;-webkit-box-shadow: 5px 5px 15px 5px #DBDBDB;box-shadow: 5px 5px 15px 5px #DBDBDB;">
        <div style="display: flex; justify-content: center;width: 100%;">
            <img src="https://www.optimalvision.co.uk/public/design/images/optimal-vision-logo.png" width="204px" height="45px" alt="logo"/> 
        </div>
        <div style="padding-top: 30px; color:#111; font-size: 18px;font-family: Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;">
            <p>Dear $NAME$,</p>
            <div style="padding-top: 5px; color:#111; font-size: 15px;font-family: Verdana,Arial,'Helvetica Neue',Helvetica,sans-serif;text-align: justify;line-height: 25px;">
                <p>Thank you for contacting Optimal Vision.</p>
                <p>Your information has been submited successfully.</p>
                <p>Our clinics are open from 9:00am-8:00 pm</p>
                <p>We will shortly schedule your consultation with a specialist.</p>
                <p style="margin-top:40px;">
                    Regards, <br/>
                    Optimal Vision Clinics
                </p>

                <p style="margin-top:50px; font-size: 12px; color:#999">
                    Optimal Vision
                    <br/>
                    Laser and Cataract Eye Specialists.
                    <br/>
                    <a style="color: #15c;" href="https://www.google.com/maps/search/22a+Harley+St,+Marylebone,+London+W1G+9BP,+UK?entry=gmail&source=g" target="_blank">
                        22a Harley St, Marylebone, London W1G 
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>